In [2]:
import os
import sys
import pandas as pd
from pprint import pprint
import numbers
import json

In [3]:
df = pd.read_pickle('distance_data_fine_df.pkl')

In [4]:
with open('distance_data_fine.json', 'r') as f:
    distance_data = json.load(f)

In [5]:
df

,origin_id,origin_address,destination_id,destination_address,distance_text,distance_value,duration_text,duration_value,mode,status
0,0,"59.660417,10.351575",0,"59.9745513,11.048086",None,None,None,None,transit,ZERO_RESULTS
1,0,"59.660417,10.351575",1,"59.6661754,10.7682151",None,None,None,None,transit,ZERO_RESULTS
2,1,"59.660417,10.35515524",0,"59.9745513,11.048086",None,None,None,None,transit,ZERO_RESULTS
3,1,"59.660417,10.35515524",1,"59.6661754,10.7682151",None,None,None,None,transit,ZERO_RESULTS
4,2,"Unnamed Road, 3060 Svelvik, Norway",0,"59.9745513,11.048086",81.4 km,81357,2 hours 29 mins,8928,transit,OK
...,...,...,...,...,...,...,...,...,...,...
451367,112840,"Skogbakken 17, 1927 Rånåsfoss, Norway",1,"59.6661754,10.7682151",77.2 km,77225,1 hour 6 mins,3987,driving,OK
451368,112841,"Unnamed Road, Norway",0,"59.9745513,11.048086",27.2 km,27194,31 mins,1836,driving,OK
451369,112841,"Unnamed Road, Norway",1,"59.6661754,10.7682151",77.2 km,77225,1 hour 6 mins,3987,driving,OK
451370,112842,"Skogbakken 17, 1927 Rånåsfoss, Norway",0,"59.9745513,11.048086",26.6 km,26603,30 mins,1814,driving,OK
451371,112842,"Skogbakken 17, 1927 Rånåsfoss, Norway",1,"59.6661754,10.7682151",76.6 km,76634,1 hour 6 mins,3966,driving,OK

In [20]:
len(distance_data['origins'])

56434

In [16]:
def produce_origin_column(row):
    origin_location = distance_data['origins'][row.origin_id]
    return origin_location
def produce_destination_column(row):
    destination_location_lat = distance_data['destinations_geocodes'][row.destination_id]['geometry']['location']['lat']
    destination_location_lon = distance_data['destinations_geocodes'][row.destination_id]['geometry']['location']['lng']
    return (destination_location_lat, destination_location_lon)

In [17]:
#df['destination_location'] = df.apply(produce_destination_column, axis=1)
df['origin_location'] = df.apply(produce_origin_column, axis=1)

IndexError: list index out of range

In [19]:
df

,origin_id,origin_address,destination_id,destination_address,distance_text,distance_value,duration_text,duration_value,mode,status,destination_location
0,0,"59.660417,10.351575",0,"59.9745513,11.048086",None,None,None,None,transit,ZERO_RESULTS,"(59.97455129999999, 11.048086)"
1,0,"59.660417,10.351575",1,"59.6661754,10.7682151",None,None,None,None,transit,ZERO_RESULTS,"(59.6661754, 10.7682151)"
2,1,"59.660417,10.35515524",0,"59.9745513,11.048086",None,None,None,None,transit,ZERO_RESULTS,"(59.97455129999999, 11.048086)"
3,1,"59.660417,10.35515524",1,"59.6661754,10.7682151",None,None,None,None,transit,ZERO_RESULTS,"(59.6661754, 10.7682151)"
4,2,"Unnamed Road, 3060 Svelvik, Norway",0,"59.9745513,11.048086",81.4 km,81357,2 hours 29 mins,8928,transit,OK,"(59.97455129999999, 11.048086)"
...,...,...,...,...,...,...,...,...,...,...,...
451367,112840,"Skogbakken 17, 1927 Rånåsfoss, Norway",1,"59.6661754,10.7682151",77.2 km,77225,1 hour 6 mins,3987,driving,OK,"(59.6661754, 10.7682151)"
451368,112841,"Unnamed Road, Norway",0,"59.9745513,11.048086",27.2 km,27194,31 mins,1836,driving,OK,"(59.97455129999999, 11.048086)"
451369,112841,"Unnamed Road, Norway",1,"59.6661754,10.7682151",77.2 km,77225,1 hour 6 mins,3987,driving,OK,"(59.6661754, 10.7682151)"
451370,112842,"Skogbakken 17, 1927 Rånåsfoss, Norway",0,"59.9745513,11.048086",26.6 km,26603,30 mins,1814,driving,OK,"(59.97455129999999, 11.048086)"
451371,112842,"Skogbakken 17, 1927 Rånåsfoss, Norway",1,"59.6661754,10.7682151",76.6 km,76634,1 hour 6 mins,3966,driving,OK,"(59.6661754, 10.7682151)"